.contenedor-imagen {
    position: relative; 
    display: inline-block;
}
  
.texto-encima {
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: transparent;
    padding: 10px; 
    text-align: justify;
}